div.video {
  border-radius: 15px;
  padding-block: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

div.video img {
  width: 100%;
}

div.video p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

div.video a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  text-align: center;
  background-color: aliceblue;
  padding: 14px 0;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  color: black;
}

div.video a:hover {
  cursor: pointer;
  background-color: #c5dff6;
}

@media screen and (min-width: 561px) {
  div.video {
    width: 25%;
  }
}
